*~
*.project
*.cproject
build/
devel/
install/
bag_files/
src/bugcar_navigation/src/bugcar_google_map_global_planner/src/bugcar_google_map_global_planner.egg-info/
src/bugcar_navigation/src/occupancy_grid_template/src/free_occupancy_grid.egg-info/
