<launch>

        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	</node>

	<node pkg="bugcar_google_map_global_planner" type="google_map_global_planner.py" respawn="false" name="google_map_global_planner" output="screen">
	</node>

</launch>
