<launch>

	<!--include file="$(find bugcar_bringup)/launch/roboclaw.launch" >
	    <arg name="port" value="/dev/ttyUSB_roboclaw"/>
	    <arg name="baud" value="115200"/>
	</include-->

	<include file="$(find bugcar_bringup)/launch/simple_twist_mux.launch" />
	<node pkg="rosserial_python" type="serial_node.py" name="rc_node" output="screen" args="-port /dev/ttyUSB_arduino -baud 115200"/>

</launch>
