<launch>
	<include file="$(find robot_localization)/launch/bugcar_robot_localization.launch" />
	<include file="$(find ublox_gps)/launch/single_gps.launch" />
	<include file="$(find roboclaw_node)/launch/roboclaw.launch" />
	
	<node pkg="rosserial_python" type="serial_node.py" name="rc_node" />
	<node pkg="bno055_usb_stick" type="bno055_usb_stick_node" name="bno055_node">
	    <param name="port" value="/dev/ttyUSB_imu" />
	    <param name="pose_frame_id" value="base_link" />
            <param name="tf_frame_id" value="base_link" />
	</node>	
</launch>
