<launch> 
	<rosparam command="load" file="$(find robot_localization)/params/virtual_odom_localization.yaml" />

	<!-- =========================================================== -->
	<node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>
	<node pkg="test" type="virtual_odom.py" name="virtual_odom" clear_params="true" />
	<!-- =========================================================== -->

</launch>
